                            * {
                                margin: 0;
                            }
                            
                            html {
                                background-color: grey;
                                scroll-behavior: smooth;
                            }
                            
                            body {
                                font-family: 'Economica', sans-serif;
                            }
                            
                            .header {
                                font-family: 'Raleway', sans-serif;
                                background-image: url("images/bgr1.jpg");
                                object-fit: cover;
                                background-repeat: no-repeat;
                                height: 100vh;
                                background-size: 100%;
                                background-position: center;
                                background-size: cover;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                            }
                            
                            .navbar {
                                font-size: .9em;
                                font-weight: bold;
                                color: white;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 30px 60px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                            }
                            
                            .navbar>img {
                                max-width: 30%;
                                height: auto;
                                top: 18px;
                                left: 60px;
                            }
                            
                            .nav-buttons {
                                display: flex;
                                justify-content: space-between;
                            }
                            
                            .nav-buttons>a {
                                text-decoration: none;
                                color: white;
                                display: flex;
                                align-items: center;
                                margin-left: 40px;
                            }
                            
                            .nav-buttons>a:hover {
                                color: #ff3333;
                            }
                            
                            .nav-buttons>a:last-child:hover {
                                background-color: #800000;
                                color: white;
                            }
                            
                            .nav-buttons>a:last-child {
                                width: 120px;
                                height: auto;
                                background-color: red;
                                border: solid 1px white;
                                border-radius: 5px;
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                            }
                            
                            .nav-buttons>a>img {
                                padding: 3px;
                                width: 16%;
                            }
                            
                            .header>h1 {
                                margin-top: 70px;
                                font-size: 8em;
                            }
                            
                            .subtitle {
                                padding: 30px 0px;
                            }
                            
                            .header>p {
                                font-size: 1.8em;
                            }
                            
                            .header>h1,
                            p {
                                text-align: center;
                                color: white;
                            }
                            
                            .order {
                                background-color: white;
                            }
                            
                            .order h2 {
                                font-family: 'Raleway', sans-serif;
                                text-align: center;
                                font-size: 2.7em;
                                color: red;
                            }
                            
                            .order-advice>div {
                                font-weight: bold;
                                color: black;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;
                                font-size: 1.4em;
                            }
                            
                            .pick-yours {
                                display: flex;
                                justify-content: center;
                                text-align: center;
                                padding-bottom: 30px;
                            }
                            
                            .order-advice>div>img {
                                padding: .5em 2.5em;
                                display: block;
                                max-width: 30%;
                                margin: 0px auto;
                            }
                            
                            .order-advice {
                                display: flex;
                                justify-content: space-around;
                            }
                            
                            .menu {
                                background-image: url(images/background.jpg);
                                background-size: cover;
                            }
                            
                            .menu>h2 {
                                font-family: 'Raleway', sans-serif;
                                text-align: center;
                                font-size: 2.7em;
                                font-weight: bold;
                                color: red;
                            }
                            
                            .menu>article {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                padding: 2.2em;
                                font-weight: bold;
                                width: 80%;
                                margin: 0px auto;
                            }
                            
                            .menu>article>img {
                                max-width: 35%;
                                padding: 0px 10px;
                            }
                            
                            .table {
                                padding: 0px 0px;
                            }
                            
                            tbody {
                                line-height: 60%;
                            }
                            
                            .table>tbody>tr>th {
                                color: black;
                                font-size: 1.8em;
                                white-space: nowrap;
                                text-align: start;
                                line-height: 20%;
                                vertical-align: center;
                            }
                            
                            .table>tbody>tr>td {
                                font-family: 'Raleway', sans-serif;
                                font-size: 1.8em;
                                line-height: 20%;
                                vertical-align: top;
                            }
                            
                            .table>tbody>tr>td:nth-of-type(odd) {
                                padding: 0em 6em 0em 0em;
                                color: #606060;
                            }
                            
                            .table>tbody>tr>td:nth-of-type(even) {
                                padding: 0em 0em 0em 6em;
                                color: #606060;
                            }
                            
                            .location {
                                background-color: white;
                                font-family: 'Raleway', sans-serif;
                            }
                            
                            .location>h2 {
                                text-align: center;
                                color: red;
                                font-size: 2.7em;
                            }
                            
                            .location>p {
                                padding-bottom: 25px;
                                color: black;
                                font-size: 1.2em;
                            }
                            
                            .location>p>img {
                                width: .9em;
                                padding: 0px 6px;
                                position: relative;
                                top: 3px;
                            }
                            
                            .map {
                                width: 100%;
                                height: 350px;
                                border: 0;
                            }
                            
                            .about {
                                background-color: white;
                            }
                            
                            .footer {
                                padding: 20px 45px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                            
                            .about>footer>img {
                                max-width: 100%;
                                width: 30%;
                                height: 30%;
                            }
                            
                            .social-media>a>img {
                                width: 17%;
                                float: right;
                                padding-left: 15px;
                            }
                            
                            @media (max-width: 1000px) {
                                .table>tbody>tr>td {
                                    font-size: 1.5em;
                                    line-height: 20%;
                                }
                                .table>tbody>tr>td:nth-of-type(odd) {
                                    padding: 0em 4em 0em 0em;
                                }
                                .table>tbody>tr>td:nth-of-type(even) {
                                    padding: 0em 0em 0em 4em;
                                }
                            }
                            
                            @media (max-width: 650px) {
                                .menu>article>img {
                                    max-width: 40%;
                                }
                                .table>tbody>tr>td {
                                    font-size: 1.5em;
                                    line-height: 20%;
                                }
                                .table>tbody>tr>td:nth-of-type(odd) {
                                    padding: 0em 2.5em 0em 0em;
                                }
                                .table>tbody>tr>td:nth-of-type(even) {
                                    padding: 0em 0em 0em 2.5em;
                                }
                            }
                            
                            @media (max-width: 550px) {
                                .table>tbody>tr>td {
                                    font-size: 1.5em;
                                    line-height: 20%;
                                }
                                .table>tbody>tr>td:nth-of-type(odd) {
                                    padding: 0em 2em 0em 0em;
                                }
                                .table>tbody>tr>td:nth-of-type(even) {
                                    padding: 0em 0em 0em 2em;
                                }
                            }
                            
                            @media (max-width: 500px) {
                                .menu>article>img {
                                    max-width: 50%;
                                }
                                .order-advice {
                                    flex-direction: column;
                                }
                                .menu>article {
                                    display: flex;
                                    flex-direction: column;
                                    width: 80%;
                                    margin: 0px auto;
                                    align-items: center;
                                    padding: .5em 1.8em;
                                }
                                .table>tbody>tr>th {
                                    line-height: 100%;
                                    padding: 10px 0px;
                                }
                                .table>tbody>tr>td {
                                    font-family: 'Raleway', sans-serif;
                                    font-size: 1.1em;
                                    line-height: 140%;
                                    vertical-align: bottom;
                                }
                                .order-advice>div>img {
                                    padding: .8em 1.5em;
                                }
                                article:nth-of-type(even) {
                                    display: flex;
                                    flex-direction: column-reverse;
                                }
                                .about>footer>img {
                                    max-width: 100%;
                                    width: 50%;
                                }
                                .location>p {
                                    padding: 0px 8px 25px 8px;
                                    color: black;
                                    font-size: 1.2em;
                                }
                                .location>p>img {
                                    width: 4%;
                                    padding: 0px 6px;
                                    position: relative;
                                    top: 3px;
                                }
                            }
                            
                            @media (max-width: 580px) {
                                .nav-buttons>a:nth-child(-n+3) {
                                    display: none;
                                }
                            }